<div>
    <div ng-if="layout === 'stacked'" class='form-group' ng-form="{{field}}" ng-class="{ 'has-error': {{field}}.$dirty && {{field}}.$invalid }">
        <label ng-if="showLabel" class='control-label {{labelLayoutCss}}'> {{ label }} <span ng-if='isRequired'>*</span></label>
            <!-- input -->
            <input ng-if="fieldType === 'input'" class="form-control inputField {{inputLayoutCss}}" ng-model='record[field]' type='{{type}}' ng-required="isRequired"/>
            <!-- textarea -->
            <textarea ng-if="fieldType === 'textarea'" class="form-control inputField {{inputLayoutCss}}" ng-model='record[field]' type='{{type}}' ng-required="isRequired"></textarea>
            <!-- toggle -->
            <div ng-if="fieldType === 'toggle'">
                <toggle-switch ng-model="record[field]" class="{{toggleSwitchType}}" on-label="{{onLabel}}" off-label="{{offLabel}}"><toggle-switch>
            </div>
            <!-- select -->
            <select ng-if="fieldType === 'select'" class="form-control" ng-model="record[field]" ng-options="p.key as p.value for p in items"></select>
            <!-- quickdatapicker -->
            <div ng-if="fieldType === 'quickdatepicker'">
                <quick-datepicker disable-timepicker="disableTimePicker" placeholder="{{placeholder}}" date-format="{{dateFormat}}" ng-model="record[field]"></quick-datepicker>
            </div>
            <!-- validation -->
            <div ng-if="!hideValidationMessage" class='pull-left has-error' ng-show='{{field}}.$dirty && {{field}}.$invalid' ng-messages='{{field}}.$error'>
                <p class='control-label' ng-message='required'> {{ field | labelCase }} is required. </p>
                <p class='control-label' ng-repeat='(k, v) in types' ng-message='{{k}}'> {{ field | labelCase }} {{v[1]}}</p>
            </div>
    </div>
    <div ng-if="layout === 'inline'" class='form-group' ng-form="{{field}}" ng-class="{ 'has-error': {{field}}.$dirty && {{field}}.$invalid }">
        <label ng-if="showLabel" class='control-label {{labelLayoutCss}}'> {{ field }} <span ng-if='isRequired'>*</span></label>
        <div class="{{inputLayoutCss}}">
            <!-- input -->
            <input ng-if="fieldType === 'input'" class="form-control inputField" ng-model='record[field]' type='{{type}}' ng-required="isRequired"/>
            <!-- textarea -->
            <textarea ng-if="fieldType === 'textarea'" class="form-control inputField" ng-model='record[field]' type='{{type}}' ng-required="isRequired"></textarea>
            <!-- toggle -->
            <toggle-switch ng-if="fieldType === 'toggle'" class="{{toggleSwitchType}}" ng-model="record[field]" on-label="{{onLabel}}" off-label="{{offLabel}}"><toggle-switch>
            <!-- select -->
            <select ng-if="fieldType === 'select'" class="form-control" ng-model="record[field]" ng-options="p.key as p.value for p in items"></select>
            <!-- quickdatapicker -->
            <quick-datepicker ng-if="fieldType === 'quickdatepicker'" disable-timepicker="disableTimePicker" placeholder="{{placeholder}}" date-format="{{dateFormat}}" ng-model="record[field]"></quick-datepicker>


        </div>
        <div ng-if="!hideValidationMessage" class='{{errorLayoutCss}} has-error' ng-show='{{field}}.$dirty && {{field}}.$invalid' ng-messages='{{field}}.$error'>
            <p class='control-label' ng-message='required'> {{ field | labelCase }} is required. </p>
            <p class='control-label' ng-repeat='(k, v) in types' ng-message='{{k}}'> {{ field | labelCase }} {{v[1]}}</p>
        </div>
    </div>
</div>
